
.bandeira{
    width: 600px;
    height: 420px;
    display: block;
    border: 2px solid black;
    background-color: green;
}
.pararelo{
    background-color: yellow;
    width: 199px;
    height: 200px;
    rotate: 225deg;
    position: absolute;
    left: 180px;
    top: 100px;
}
.bola{
    background-color: blue;
    border-radius: 100%;
    width: 110px;
    height: 110px;
    left: 225px;
    top: 150px;
    position: absolute;
}
#bola{
    background-color: black;
    border-radius: 100%;
    float: left;
}