/* Cores */
.branco{
    background-color: white;
}
.azulforte{
    background-color: blue;
}
.vermelho{
    background-color: red;
}
/* Classes */
.bandeira{
    width: 420px;
    height: 420px;
    display: block;
    border: 2px solid black;
}
.lisvert{
    width: 100px;
    height: 250px;
    position: relative;
    left: 150px;
    top: 80px;
}
.lishor{
    width: 250px;
    height: 100px;
    display: block;
    position: relative;
    bottom: 90px;
    left: 75px;
}