/* Cores */
.branco{
    background-color: white;
}
.azulforte{
    background-color: blue;
}
.vermelho{
    background-color: red;
}
/* Classes */
.bandeira{
    width: 600px;
    height: 420px;
    display: block;
    border: 2px solid black;
}
.bandeiras{
    width: 250px;
    height: 150px;
    display: block;
}
.lisvert{
    width: 40px;
    height: 100px;
    position: relative;
    left: 100px;
    top: 20px;
}
.lishor{
    width: 100px;
    height: 40px;
    display: block;
    position: relative;
    bottom: 50px;
    left: 70px;
}
